/*===== all my css for index.html =====*/
#header{
  position:fixed;
  height:70px;
  display:block;
  width: 100%;
  background: #333;
  z-index:9;
  text-align:center;
  color: #fff;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index:9;
  height:50px;
  background: #333;
  font-size:12px;
  padding:20px;
}

.section {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pageUno {
  background-image: url('../img/sec1.jpg');
}

#pageDos {
  background-image: url('../img/sec2.jpg');
}

#pageTres {
  background-image: url('../img/sec3.jpg');
}

#pageQuatro {
  background-image: url('../img/sec4.jpg');
}

/*nav bar custom*/
.navbar {
  height: 70px;
  border-radius: 0px;
}

.navbar-brand {
  font-size: 45px;
  text-shadow: 0px 0px #fff;
  padding:25px;
}

.navbar-toggle {
  border: 3px solid #fff;
  height: 40px;
  width: 40px;
  padding: 9px 9px;
}

.navbar-nav > li {
  padding-top: 8px;
  height: 70px;
}

.navbar-nav > ul {
  background: #333;
}

/*home section styles*/
.img-superavatar {
    height: 30%;
    width: 30%;
    border:3px solid #fff;
}

.container-fluid {
  max-width: 800px;
  padding: 10px;
  margin-top: 20px;
}

.personalI {
  background-color:rgba(0,0,0,0.6);
}

.theName {
  font-size: 45px;
  color:#fff;
  font-weight: bold;
}

.theJob {
  font-size: 23px;
  color:#fff;
  font-style: italic;
}

.theContacts {
  text-align: center;
  color:#fff;
}

.prjTxtLabel {
  font-size: 22px;
  text-align: left !important;
  font-weight: bold;
}

.prjTxtArea {
  font-size: 18px;
  text-align: justify;
}

.prjList > li {
  font-size: 18px;
  margin: left;
  list-style: inside;
  list-style-position: inside;
  text-align: left;
}

.prjTxtArea a:link,
.prjTxtArea a:visited,
.prjTxtArea a:hover  {
  text-decoration: underline;
  color: #878F9E;
}

.projectSlide {
  display:block;
  margin:0 auto;
  min-width: 375px;
  max-width: 80%;
  height: 100%;
  padding:30px;
  font-size:12px;
  color:#000;
  background-color:rgba(255,255,255,0.6);
}

.imgPrj{
  margin-top:40px;
}

.txtPrjDesc {
  margin:20px;
  text-align: justify;
}

.imgArea {
  padding:10px;
}


/*end of home section*/

@media screen and (max-width: 568px) {
    .theName {
      font-size:25px;
    }
    .theContacts  {
      font-size: 12px;
    }
    .theJob {
      font-size: 18px;
    }
}

.animated {
  visibility: visible !important;
}

/*animation settings*/
#bossPic, #bossTitle, #bossName, #bossContacts,
#bossPhone, #bossEmail, #bossAddress  {
  -vendor-animation-duration: 5s;
  -vendor-animation-delay: 10s;
  -vendor-animation-iteration-count: 1;
  visibility: hidden;
}

.skillsSet {
  min-width: 375px;
  height: 100%;
  max-width: 100%;
  font-size:12px;
  color:#fff;
  background-color:rgba(000,000,000,0.5);
}

.skillsetBar {
  border: 2px solid #fff;
  max-width: 80%;
  margin: 0 auto;
}

.skillsBox {
  color:#fff;
}

.skillSetHeads {
  color:#fff;
  font-size: 65px;
}

.skillSetSubHeads {
  font-size:30px;
}

.skillSetDesc {
  margin:0 auto;
  font-size:15px;
  min-width: 310px;
  max-width: 80%;
  text-align: center;
  margin-bottom: 5px;
  text-shadow: 2px 2px 4px #000;
}

.skillsHightlight {
  font-size: 16px;
  font-weight: bold;
}

.qualification {
  padding-top:70px;
  height: 100%;
  width: 100%;
  text-shadow: 2px 2px 4px #000;
  background-color:rgba(193,147,18,0.5);
}

.qualiUL > li {
  margin:0 auto;
  max-width:350px;
  text-align: left !important;
}



/*end of animation settings*/

 .navbar-nav > li > a, .navbar-default .navbar-brand {color: #f1f1f1;}
 .navbar-nav > li > a:hover {color:#C5C3C3}
 .navbar-nav > li > a:focus {color: #f1f1f1; background-color: #828282;}

@media only screen and (max-width: 766px) {
.collapsing, .in {background-color: #333;}
.collapsing ul li a, .in ul li a {color: #fff!important; hei}
.collapsing ul li a:hover, .in ul li a:hover {color: #fff!important;}
}
