/*====================================
====reset css to my prefer defaulst===
====================================*/
* {
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  font-size: 100%;
  color:#fff;
}

a:link, a:active, a:visited { text-decoration: none; color:#fff;}
a:hover {color: #999; text-decoration: none; }

h1 {}
h1 a { }
h1 a:hover {}

h2 {}
h2 a {}
h2 a:hover {}

h3 { vertical-align: middle;}
h3 a {}
h3 a:hover {}

.superLeft { float:left; }
.superRight { float:right; }
.superClear { clear: both;}

/*=====end reset to def=====*/
