/*===== all my css for index.html =====*/
#header{
  position:fixed;
  height:70px;
  display:block;
  width: 100%;
  background: #333;
  z-index:9;
  text-align:center;
  color: #fff;

}

.section {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#pageUno {
  background-image: url('../img/sec1.jpg');
}

#pageDos {
  background-image: url('../img/sec2.jpg');
}

#pageTres {
  background-image: url('../img/sec3.jpg');
}

#pageQuatro {
  background-image: url('../img/sec4.jpg');
}

/*nav bar custom*/
.navbar {
  height: 70px;
  border-radius: 0px;
}

.navbar-brand {
  font-size: 45px;
  text-shadow: 0px 0px #fff;
  padding:25px;
}

.navbar-toggle {
  border: 3px solid #fff;
  height: 40px;
  width: 40px;
  padding: 9px 9px;
}

.navbar-nav > li {
  padding-top: 8px;
  height: 70px;
}

.navbar-nav > ul {
  background: #333;
}

 .navbar-nav > li > a, .navbar-default .navbar-brand {color: #f1f1f1;}
 .navbar-nav > li > a:hover,
 .navbar-nav > li > a:focus {color: #f1f1f1; background-color: #828282;}

@media only screen and (max-width: 766px) {
.collapsing, .in {background-color: #f7f7f7;}
.collapsing ul li a, .in ul li a {color: #555!important; hei}
.collapsing ul li a:hover, .in ul li a:hover {color: #f1f1f1!important;}
}
